{{#each this}}
    <div class="notes-entry block">
        <div class="notes-entry-cell notes-entry-date">{{formatDate due "short"}}</div>
        <div class="notes-entry-cell notes-entry-importance edit-area importance-selection">
            <input type="radio" id="importance-{{id}}-5" value="5" {{#ifCond importance '===' 5 }}checked="checked"{{/ifCond}}/><label for="importance-{{id}}-5"></label>
            <input type="radio" id="importance-{{id}}-4" value="4" {{#ifCond importance '===' 4 }}checked="checked"{{/ifCond}}/><label for="importance-{{id}}-4"></label>
            <input type="radio" id="importance-{{id}}-3" value="3" {{#ifCond importance '===' 3 }}checked="checked"{{/ifCond}}/><label for="importance-{{id}}-3"></label>
            <input type="radio" id="importance-{{id}}-2" value="2" {{#ifCond importance '===' 2 }}checked="checked"{{/ifCond}}/><label for="importance-{{id}}-2"></label>
            <input type="radio" id="importance-{{id}}-1" value="1" {{#ifCond importance '===' 1 }}checked="checked"{{/ifCond}}/><label for="importance-{{id}}-1"></label>
        </div>
        <div class="notes-entry-cell notes-entry-title">{{title}}</div>
        <div class="notes-entry-cell notes-entry-content visibility-switcher">
            <input type="checkbox" id="content-visibility-{{id}}"/>
            <label for="content-visibility-{{id}}">
                {{content}}
            </label>
        </div>
        <div class="notes-entry-cell notes-entry-finished">
            <input id="notes-entry-{{id}}" type="checkbox" {{#ifCond finished '==' true}}checked="checked"{{/ifCond}} />
            <label for="notes-entry-{{id}}">Finished</label>
        </div>
        <div class="notes-entry-cell notes-entry-action">
            <span id="notes-entry-action-edit-{{id}}" class="button editButton">Edit</span>
        </div>
    </div>
{{/each}}