{{#if isEditable}}
    <form id="edit-form-note-{{id}}">
{{/if}}
    <div id="note-{{id}}" class="notes-entry block">
        <div class="notes-entry-cell notes-entry-date">
            {{#if isEditable}}
                <input id="due-date-{{id}}" title="Due until" type="date" class="input-field input-field-full"
                                     value="{{formatDate dueDate "input"}}" placeholder="dd.mm.yyyy"/>
            {{else}}
                {{formatDate dueDate "short"}}
            {{/if}}
        </div>
        <div class="notes-entry-cell notes-entry-importance edit-area importance-selection {{#if isEditable}}importance-selection-editable{{/if}}">
            {{#countdownLoop 5}}
                <input type="radio" name="importance-{{id}}" id="importance-{{id}}-{{countdownLoopIndex}}" value="{{countdownLoopIndex}}"
                       {{#ifCond importance '==' countdownLoopIndex}}checked="checked"{{/ifCond}}{{#unless isEditable}} disabled="disabled"{{/unless}}/>
                <label for="importance-{{id}}-{{countdownLoopIndex}}"></label>
            {{/countdownLoop}}
        </div>
        <div class="notes-entry-cell notes-entry-title">
            {{#if isEditable}}<input id="title-{{id}}" title="title" type="text" class="input-field input-field-full" value="{{title}}"
                                     placeholder="Title of your note"/>{{else}}{{title}}{{/if}}
        </div>
        <div class="notes-entry-cell notes-entry-content {{#unless isEditable}} visibility-switcher{{/unless}}">
            {{#if isEditable}}<textarea id="description-{{id}}" title="description" rows="6" cols="50" class="input-field input-field-full"
                                        placeholder="Please enter some meaningfull values">{{{content}}}</textarea>
            {{else}}
                <input type="checkbox" id="content-visibility-{{id}}"/>
                <label for="content-visibility-{{id}}">
                    {{lineBreakReplacer content}}
                </label>
            {{/if}}
        </div>
        <div class="notes-entry-cell notes-entry-finished">
            {{#if isEditable}}
                <input id="notes-entry-{{id}}-finished" type="checkbox" {{#if isFinished}}checked="checked"{{/if}} value="true"/>
                <label for="notes-entry-{{id}}-finished">Finished</label>
            {{else}}
                <button data-note-id="{{id}}" type="button" data-note-finished="{{isFinished}}" name="action-finished"
                        class="img-button {{#if isFinished}}img-button-checked{{else}}img-button-unchecked{{/if}} action-finished"></button>
            {{/if}}
        </div>
        <div class="notes-entry-cell notes-entry-action">
            {{#if isEditable}}
                <button data-note-id="{{id}}" name="action-revert" class="img-button img-button-revert action-revert" title="Revert"
                        type="button"></button>{{/if}}
            <button data-note-id="{{id}}" name="action-delete" class="img-button img-button-delete action-delete" title="Delete"
                    type="button"></button>
            {{#unless isEditable}}
                <button data-note-id="{{id}}" name="action-edit" class="img-button img-button-edit action-edit" title="Edit"
                        type="button"></button>{{/unless}}
            {{#if isEditable}}
                <button data-note-id="{{id}}" name="action-save" class="img-button img-button-save action-save" title="Save"
                        type="button"></button>{{/if}}
        </div>
    </div>
{{#if isEditable}}
    </form>
{{/if}}